@font-face {
    font-family: "TitleFonts";
    src: url("../fonts/Hakgyoansim\ Dunggeunmiso\ TTF\ B.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* 1. Bold */
@font-face {
    font-family: "Pretendard-Bold";
    src: url("../fonts/Pretendard-Bold.otf") format("opentype");
    font-weight: normal; /* 이름을 따로 줬으므로 여기선 normal로 둬도 됩니다 */
    font-style: normal;
}

/* 2. SemiBold */
@font-face {
    font-family: "Pretendard-SemiBold";
    src: url("../fonts/Pretendard-SemiBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* 3. Regular */
@font-face {
    font-family: "Pretendard-Regular";
    src: url("../fonts/Pretendard-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* 4. Light */
@font-face {
    font-family: "Pretendard-Light";
    src: url("../fonts/Pretendard-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GyeonggiTitle";
    /* 파일명에 한글이 포함되어 있으므로 따옴표로 감싸는 것이 안전합니다 */
    src: url("../fonts/경기천년제목OTF_Medium.otf") format("opentype");
    font-weight: 500; /* Medium이므로 500으로 설정 */
    font-style: normal;
}

/* ExtraBold (800) */
@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url("../fonts/Pretendard-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
